.breadcrumbs .breadcrumb:hover,
.titleWidgetToggleButtonComponent.enabled .titleAndIconWrapper {
    cursor: pointer;
}
.breadcrumbs {
    display: inline-block;
}
.breadcrumbs .breadcrumbs {
    padding-left: 13px;
}
.breadcrumbs .breadcrumb {
    display: inline-block;
    padding-top: 11px;
}
.breadcrumbs .breadcrumb a {
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    display: inline;
    font-size: 12px;
    line-height: 12px;
    text-decoration: underline;
    color: #999;
}
.breadcrumbs .breadcrumb .arrow {
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 10px;
    line-height: 10px;
    vertical-align: bottom;
    color: #656565;
}
.breadcrumbs .breadcrumb:hover a {
    cursor: pointer;
    color: #a6a6a6;
}
.breadcrumbs .breadcrumb:first-child .arrow {
    display: none;
}
.titleWidgetLayout .title {
    font-family: Interface, Arial, sans-serif;
    color: #fff;
    padding-left: 13px;
    font-weight: 800;
    font-size: 22px;
}
.titleWidgetToggleButtonComponent {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 4px;
    padding-bottom: 6px;
}
.titleWidgetToggleButtonComponent .titleAndIconWrapper {
    padding-left: 13px;
}
.titleWidgetToggleButtonComponent .iconContainer,
.titleWidgetToggleButtonComponent .iconContainer *,
.titleWidgetToggleButtonComponent .titleWidgetWrapper,
.titleWidgetToggleButtonComponent .titleWidgetWrapper * {
    display: inline;
}
.titleWidgetToggleButtonComponent .title,
.titleWidgetToggleButtonComponent .titleWidgetContainer,
.titleWidgetToggleButtonComponent .titleWidgetLayout,
.titleWidgetToggleButtonComponent .titleWidgetWrapper {
    padding-left: 0;
}
.titleWidgetToggleButtonComponent .iconContainer > .icon {
    margin-top: 6px;
    padding-left: 9px;
    font-size: 16px;
    color: #fff;
}
.titleWidgetToggleButtonComponent.open .iconContainer:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    position: absolute;
    margin-left: -13px;
    margin-top: 30px;
    z-index: 1;
}
.titleWidgetToggleButtonComponent .toggleButtonMenuWrapper {
    width: 100%;
}
.titleWidgetToggleButtonComponent .dropdownContent {
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.titleWidgetToggleButtonComponent.closed .iconContainer:after {
    content: none;
}
.pagingListScroller {
    overflow-y: scroll;
}
.pagingListScroller::-webkit-scrollbar {
    width: 0 !important;
    display: none !important;
}
.pagingListScroller .listContainer {
    overflow: hidden;
}
.pagingListScroller .listContainer .scrollingList {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    position: relative;
}
.pagingListScroller .listContainer .scrollingList .widgetContainerCollectionItem {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
}
.pagingListScroller .leftScroller,
.pagingListScroller .rightScroller {
    z-index: 10;
}
